.sidebar-root {
    height: 100vh;
    width: 0;
    max-width: 100vw;
    overflow-x: hidden;
    transition: width 300ms ease-in-out;
    transition-delay: width 50ms;
    display: flex;
    z-index: 50px;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar-root.over {
    position: fixed;
    z-index: 50px;
}

.sidebar-root.left {
    left: 0;
}

.sidebar-root.right {
    right: 0;
}

.content-root {
    opacity: 0;
    transition: opacity 750ms ease-in-out;
    transition-delay: opacity 100ms;
    flex-grow: 1;
    max-width: 100vw;
}

.content-root.open {
    opacity: 1;
}