<div class="flex flex-col h-full m-1" *ngIf="data">

  <p>css classes</p>
  <input type="text" [(ngModel)]="data.classes" placeholder="Type here"
         class="input input-bordered input-primary w-full max-w-xs" />
  <p>style</p>
  <textarea type="text" [(ngModel)]="data.css" placeholder="Type here"
            class="input input-bordered input-primary w-full max-w-xs"></textarea>

  <hr>
  <ng-container *ngIf="editorType">
    <div [appDynamic]="editorType" [props]="{data: data}"></div>
  </ng-container>

  <hr>

  <div class="flex flex-wrap flex-1">
    <app-new-elements [data]="data"></app-new-elements>
  </div>

  <div class="flex align-self-end justify-evenly m-1">
    <button class="btn btn-primary" (click)="saveToLocalStorage()">Save</button>
    <button class="btn btn-primary" (click)="loadFromLocalStorage()">Load</button>
  </div>
</div>