<div class="flex w-full" dndDropzone dndEffectAllowed="all" (dndDragover)="onDragover($event)"
     (dndDrop)="onDrop($event)">

  <div style="border: 1px orangered solid; border-radius: 5px; padding: 15px;" dndPlaceholderRef>
    placeholder
  </div>
  <app-dynamic *ngFor="let item of data?.slot??[]" [data]="item" [dndDraggable]="this.data" [dndEffectAllowed]="'move'"
               [dndDisableIf]="draggable.disable" (dndStart)="onDragStart($event)"
               (dndCopied)="onDraggableCopied($event)" (dndLinked)="onDraggableLinked($event)"
               (dndMoved)="onDraggableMoved($event)" (dndCanceled)="onDragCanceled($event)"
               (dndEnd)="onDragEnd($event)">

  </app-dynamic>

</div>