<div [class]="'flex w-full h-full border-2 ' + dynamicStylePath"
     style="{{'min-height: 20px; min-width: 20px; padding: 3px;' + getStyleString() + getPositioningCss()}}" dndDropzone
     dndEffectAllowed="all" (dndDragover)="onDragover($event)" (dndDrop)="onDrop($event)">

  <div class="" style="border: 1px orangered solid; min-width: 2px; min-height: 2px; border-radius: 5px;"
       dndPlaceholderRef>

  </div>
  <app-dynamic *ngFor="let item of data?.slot??[]" [data]="item" [dndDraggable]="item" [dndEffectAllowed]="'move'"
               [dndDisableIf]="draggable.disable" (dndStart)="onDragStart($event)"
               (dndCopied)="onDraggableCopied($event)" (dndLinked)="onDraggableLinked($event)"
               (dndMoved)="onDraggableMoved($event)" (dndCanceled)="onDragCanceled($event)"
               (dndEnd)="onDragEnd($event)">

  </app-dynamic>


</div>