<div class="collapse bg-base-200">
  <input type="checkbox" [value]="true" />
  <div class="collapse-title text-xl font-medium">Align</div>
  <div class="collapse-content">
    <div class="flex flex-col flex-1">


      direction
      <div class="flex gap-4" appResponsiveDataAccessor #resProp="resProp" [data]="data?.direction">
        <button class="btn btn-square" [class.btn-outline]="resProp.value == 'row'" (click)="resProp.value = 'row'">
          <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fit="" height="100%" width="100%"
               preserveAspectRatio="xMidYMid meet" focusable="false">
            <path
                  d="M19.55,18.16c-.13,0-.26-.05-.35-.15-.2-.2-.2-.51,0-.71l3-3c.2-.2,.51-.2,.71,0s.2,.51,0,.71l-3,3c-.1,.1-.23,.15-.35,.15Z">
            </path>
            <path
                  d="M22.55,15.16H12.45c-.28,0-.5-.22-.5-.5s.22-.5,.5-.5h8.89l-2.15-2.15c-.2-.2-.2-.51,0-.71s.51-.2,.71,0l3,3c.14,.14,.19,.36,.11,.54s-.26,.31-.46,.31Z">
            </path>
            <path
                  d="M8.95,16.66c-1.1,0-2-.9-2-2s.9-2,2-2,2,.9,2,2-.9,2-2,2Zm0-3c-.55,0-1,.45-1,1s.45,1,1,1,1-.45,1-1-.45-1-1-1Z">
            </path>
          </svg>
        </button>

        <button class="btn btn-square" [class.btn-outline]="resProp.value == 'column'"
                (click)="resProp.value= 'column'">
          <svg id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" fit="" height="100%" width="100%"
               preserveAspectRatio="xMidYMid meet" focusable="false">
            <path
                  d="M15,23.26c-.13,0-.26-.05-.35-.15l-3-3c-.2-.2-.2-.51,0-.71s.51-.2,.71,0l3,3c.2,.2,.2,.51,0,.71-.1,.1-.23,.15-.35,.15Z">
            </path>
            <path
                  d="M15,23.26c-.06,0-.13-.01-.19-.04-.19-.08-.31-.26-.31-.46V12.66c0-.28,.22-.5,.5-.5s.5,.22,.5,.5v8.89l2.15-2.15c.2-.2,.51-.2,.71,0s.2,.51,0,.71l-3,3c-.1,.1-.22,.15-.35,.15Z">
            </path>
            <path
                  d="M15,11.16c-1.1,0-2-.9-2-2s.9-2,2-2,2,.9,2,2-.9,2-2,2Zm0-3c-.55,0-1,.45-1,1s.45,1,1,1,1-.45,1-1-.45-1-1-1Z">
            </path>
          </svg>

        </button>
      </div>

      justify
      <div class="flex gap-4">
        <button class="btn btn-square" [class.btn-outline]="data?.justify == 'start'" (click)="data!.justify = 'start'">
          <svg viewBox="0 0 16 16" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet"
               focusable="false">
            <rect x="2.5" y="4" width="4" height="8" rx="1"></rect>
            <rect x="7" y="4" width="4" height="8" rx="1"></rect>
            <rect opacity=".7" y="1" width="1.5" height="14" rx=".75"></rect>
            <rect opacity=".7" x="14.5" y="1" width="1.5" height="14" rx=".75"></rect>
          </svg>
        </button>

        <button class="btn btn-square" [class.btn-outline]="data?.justify == 'center'"
                (click)="data!.justify = 'center'">

          <svg viewBox="0 0 16 16" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet"
               focusable="false">
            <rect y="1" width="1.5" height="14" rx=".75" opacity=".7"></rect>
            <rect x="14.5" y="1" width="1.5" height="14" rx=".75" opacity=".7"></rect>
            <rect x="4" y="4" width="4" height="8" rx="1"></rect>
            <rect x="8.5" y="4" width="4" height="8" rx="1"></rect>
          </svg>

        </button>
        <button class="btn btn-square" [class.btn-outline]="data?.justify == 'end'" (click)="data!.justify = 'end'">

          <svg id="sprite-align-x-end" viewBox="0 0 16 16" fit="" height="100%" width="100%"
               preserveAspectRatio="xMidYMid meet" focusable="false">
            <rect opacity=".7" x="14.5" y="1" width="1.5" height="14" rx=".75"></rect>
            <rect opacity=".7" y="1" width="1.5" height="14" rx=".75"></rect>
            <rect x="5" y="4" width="4" height="8" rx="1"></rect>
            <rect x="9.5" y="4" width="4" height="8" rx="1"></rect>
          </svg>

        </button>

        <button class="btn btn-square" [class.btn-outline]="data?.justify == 'space-around'"
                (click)="data!.justify = 'space-around'">
          <svg viewBox="0 0 16 16" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet"
               focusable="false">
            <rect x="3" y="4" width="4" height="8" rx="1"></rect>
            <rect x="9" y="4" width="4" height="8" rx="1"></rect>
          </svg>
        </button>

        <button class="btn btn-square" [class.btn-outline]="data?.justify == 'space-between'"
                (click)="data!.justify = 'space-between'">
          <svg viewBox="0 0 16 16" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet"
               focusable="false">
            <rect x="2" y="4" width="4" height="8" rx="1"></rect>
            <rect x="10" y="4" width="4" height="8" rx="1"></rect>
          </svg>
        </button>
      </div>

      align

      <div class="">
        <button class="btn btn-square" [class.btn-outline]="data?.align == 'start'" (click)="data!.align = 'start'">
          <svg id="sprite-align-y-start" viewBox="0 0 16 16" fit="" height="100%" width="100%"
               preserveAspectRatio="xMidYMid meet" focusable="false">
            <rect x="3" y="3" width="4" height="12" rx="1"></rect>
            <rect x="8" y="3" width="4" height="8" rx="1"></rect>
            <rect opacity=".7" x="1" y=".5" width="14" height="1.5" rx=".75"></rect>
          </svg>
        </button>

        <button class="btn btn-square" [class.btn-outline]="data?.align == 'center'" (click)="data!.align = 'center'">
          <svg id="sprite-align-y-center" viewBox="0 0 16 16" fit="" height="100%" width="100%"
               preserveAspectRatio="xMidYMid meet" focusable="false">
            <rect x="4" y="1" width="4" height="14" rx="1"></rect>
            <rect x="9" y="4" width="4" height="8" rx="1"></rect>
            <rect opacity=".7" x="1" y="7" width="14" height="1.5" rx=".75"></rect>
          </svg>
        </button>

        <button class="btn btn-square" [class.btn-outline]="data?.align == 'end'" (click)="data!.align = 'end'">
          <svg id="sprite-align-y-end" viewBox="0 0 16 16" fit="" height="100%" width="100%"
               preserveAspectRatio="xMidYMid meet" focusable="false">
            <rect x="4" y="1" width="4" height="12" rx="1"></rect>
            <rect x="9" y="5" width="4" height="8" rx="1"></rect>
            <rect opacity=".7" x="1" y="14" width="14" height="1.5" rx=".75"></rect>
          </svg>
        </button>

        <button class="btn btn-square" [class.btn-outline]="data?.align == 'stretch'" (click)="data!.align = 'stretch'">
          <svg id="sprite-align-y-stretch" viewBox="0 0 16 16" fit="" height="100%" width="100%"
               preserveAspectRatio="xMidYMid meet" focusable="false">
            <rect x="3.5" y="3" width="4" height="10" rx="1"></rect>
            <rect x="8.5" y="3" width="4" height="10" rx="1"></rect>
            <rect opacity=".7" x="1" y=".5" width="14" height="1.5" rx=".75"></rect>
            <rect opacity=".7" x="1" y="14" width="14" height="1.5" rx=".75"></rect>
          </svg>
        </button>


      </div>

      <br>
      direction: {{this.data?.direction | json}}
      <br>
      align: {{this.data?.align}}
      <br>
      justify: {{this.data?.justify}}
      <br>
    </div>
  </div>
</div>







<!--Justify -->